.CurrentLocation {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.info-today {
	background-image: url("sunny.jpg");
	width: 100%;
	height: 60%;
	background-size: 1150px;
	position: relative;
	color: white;
}

.time-date-city {
	padding: 20px;
	text-transform: uppercase;
	line-height: 0.5;
}

.precipitation-humidity-wind {
	position: absolute;
	bottom: 20px;
	left: 20px;
	line-height: 0.5;
}

.temperature-now {
	position: absolute;
	bottom: 0;
	right: 20px;
	font-size: 100px;
}

.Table-Day-Selected {
	width: 100%;
	padding: 10px;
	text-align: center;
	line-height: 2;
}

.Table-Forecast-All-Days  {
	width: 100%;
	text-align: center;
	line-height: 2;
}

.Table-Day-Selected {
	padding: 20px;
	border-bottom: 1px solid blue;
}

